@model MasrafTakipMVCProje.Models.HarcamaDetay

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HarcamaDetay</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HarcamaId" class="control-label"></label>
                <select asp-for="HarcamaId" class="form-control" asp-items="@(new SelectList(ViewBag.HarcamaId, "Value", "Text"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="HarcamaTipiId" class="control-label"></label>
                <select asp-for="HarcamaTipiId" class ="form-control" asp-items="ViewBag.HarcamaTipId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Aciklama" class="control-label"></label>
                <input asp-for="Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tutar" class="control-label"></label>
                <input asp-for="Tutar" class="form-control" />
                <span asp-validation-for="Tutar" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Ekle" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-primary">Harcama Detay Listesine Geri Dön.</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
